<!doctype html>
<html lang="ja">
<head>
<%- include('assets/html/_head.ejs') %>

<title>HTML Samples</title>
<meta name="description" content="">

<meta property="og:type" content="website">
<meta property="og:title" content="#">
<meta property="og:description" content="#">
<meta property="og:url" content="#">
<meta property="og:image" content="#">

<%- include('assets/html/_analytics.ejs') %>
</head>
<body>
<%- include('assets/html/_header.ejs') %>

<div class="carousel_1">
  <div class="carousel_1__1">
    <div class="carousel_1__item">
      <div class="carousel_1__2">
        <div>
          1<br><a href="#modal1" data-popup="inline">モーダルを開く</a>
        </div>
      </div>
    </div>
    <div class="carousel_1__item">
      <div class="carousel_1__2">
        <div>
          2<br><a href="#modal2" data-popup="inline">モーダルを開く</a>
        </div>
      </div>
    </div>
    <div class="carousel_1__item">
      <div class="carousel_1__2">
        <div>
          3<br><a href="#modal3" data-popup="inline">モーダルを開く</a>
        </div>
      </div>
    </div>
    <div class="carousel_1__item">
      <div class="carousel_1__2">
        4
      </div>
    </div>
    <div class="carousel_1__item">
      <div class="carousel_1__2">
        5
      </div>
    </div>
    <div class="carousel_1__item">
      <div class="carousel_1__2">
        6
      </div>
    </div>
    <div class="carousel_1__item">
      <div class="carousel_1__2">
        7
      </div>
    </div>
    <div class="carousel_1__item">
      <div class="carousel_1__2">
        8
      </div>
    </div>
    <div class="carousel_1__item">
      <div class="carousel_1__2">
        9
      </div>
    </div>
    <div class="carousel_1__item">
      <div class="carousel_1__2">
        10
      </div>
    </div>
  </div>
</div><!-- /.carousel_1 -->


<ul style="margin-top: 40px">
  <li>1：<a href="#modal1" data-popup="inline">モーダルを開く</a></li>
  <li>2：<a href="#modal2" data-popup="inline">モーダルを開く</a></li>
  <li>3：<a href="#modal3" data-popup="inline">モーダルを開く</a></li>
</ul>


<div id="modal1" class="modal_1">
  1
</div><!-- /.modal_1 -->


<div id="modal2" class="modal_1">
  2
</div><!-- /.modal_1 -->


<div id="modal3" class="modal_1">
  3
</div><!-- /.modal_1 -->


<%- include('assets/html/_footer.ejs') %>
<%- include('assets/html/_javascript.ejs') %>
</body>
</html>